# PostgreSQL Database Connection String
DATABASE_URL="postgresql://username:password@localhost:5432/procpx?schema=public"

# Google Gemini AI Configuration
# Configure your Gemini Model (e.g. gemini 3.5 flash lite, gemini-2.0-flash-lite, gemini-1.5-flash)
GEMINI_MODEL="gemini 3.5 flash lite"
# Provide your Google Gemini API Key from Google AI Studio (https://aistudio.google.com/)
GEMINI_API_KEY=""
